@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.Songs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bi-plus {
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.bi-plus:hover {
    background: #1e1c1b;
}

.listPlaylist{
    /* border: 1px solid white; */
    width: 90%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;    
    gap: 20px;
    overflow: auto;
    padding-left: 25px  ;
}

.Playlist {
    background: #0f0f0f;
    border-radius: 20px;
    width: 15%;
    height: 40%;
    border: 1px solid rgba(255, 255, 255, 0.051);
    cursor: pointer;
}

.Playlist:hover{
    background: #1e1c1b;    
}

.Playlist img {
    margin: 10px auto auto 15px;
    width: 85%;
    height: 50%;
    border-radius: 20px;
}

.judulPlaylist {
    font-size: 20px;
    font-weight: 700;
    margin-left: 15px;
    color: white;
}

.subPlaylist {
    margin-left: 15px;
}

.bi-play-circle-fill {
    margin: 5px auto auto 40px;
    color: white;
}